.button {
	&__close {
		position: relative;
		float: left;
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: none;
		outline: 0;
		overflow: hidden;
		outline: 0 !important;

		&:after {
			position: absolute;
			content: "";
			left: 17px;
			top: -21px;
			width: 2px;
			height: 219%;
			background-color: #fff;
			transform: rotate(45deg);
			transition: all 0.3s;
		}

		&:hover:after {
			transition: all 0.3s;
			transform: rotate(406deg);
		}

		&:hover:before {
			transition: all 0.3s;
			transform: rotate(-406deg);
		}

		&:before {
			position: absolute;
			content: "";
			right: 19px;
			bottom: -12px;
			width: 2px;
			height: 219%;
			background-color: #fff;
			transform: rotate(-45deg);
			transition: all 0.3s;
		}
	}
}

.prevButton {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 35px;
	background-color: #000;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 16;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		transition: all 0.3s;
		background-color: #b11116;
	}

	@include respondmax(sm) {
		display: none;
	}
}

.nextButton {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 35px;
	background-color: #000;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 16;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		transition: all 0.3s;
		background-color: #b11116;
	}

	@include respondmax(sm) {
		display: none;
	}
}

.iti-mobile .iti__country-list {
	@include respondmax(md) {
		width: 100% !important;
		z-index: 5555;
	}
}


.iti--container{
	z-index: 5555;
}


@media(max-width:575px)
{
	.activeOverflow{
		overflow: hidden !important;
	}
}

.closeFlag {
	position: absolute;
	right: 10px;
	width: 15px;
	top: -2px;
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: transparent;
	font-size: 20px;
}

.iti-mobile .iti--container {
	@include respondmax(sm) {
		width: 242px !important;
	}
}

.blog__slider .owl-carousel .owl-dots {
	position: absolute;
	bottom: -39px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blog__slider .owl-carousel .owl-dots button {
	position: relative;
	float: left;
	width: 10px;
	height: 10px;
	background-color: #fff;
	margin-right: 12px;
	outline: 0 !important;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.blog__slider .owl-carousel .active {
	background: #b11116 !important;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.mySlider {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;

	.item {
		@extend .mySlider;

		img {
			@extend .mySlider;
		}
	}
}
