</main>
<footer class="footer full">
  <div class="full footer__contain">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="full footer__text">
            <span>Copyright 2020 © 7 Oceans Yachting</span>
            <div class="footer__privacy">
              <div class="agency__middle--icon">
                <ul>
                  <li>
                    <a href="#" title="">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="">
                      <i class="fas fa-play"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="libs/Font-Awesome/js/all.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=Your API key&lang=en_US" type="text/javascript">
</script>
<script src="libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="libs/intl-tel-input/build/js/intlTelInput-jquery.min.js"></script>
<script src="libs/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="js/all.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
