<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href='libs/owl.carousel/dist/assets/owl.carousel.min.css'>
    <link rel="stylesheet" href="libs/Font-Awesome/css/all.min.css">
    <link rel="stylesheet" href="libs/ion-rangeslider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="css/main/main.min.css">
</head>
<body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <div class="myForms">
            <div class="boat__forms--in myForms__in full">
                <div class="mySearch__close">
                    <button type="button" class="button__close">

                    </button>
                </div>
                <div class="mySearch__title full">
                    <h4>Contact form</h4>
                </div>
                <form>
                    <div class="row">
                        <div class="col-6 mb-5">
                            <input type="text" class="form-control" placeholder="First Name / Last Name">
                        </div>
                        <div class="col-6 mb-5">
                            <input type="text" class="form-control" placeholder="Salutation">
                        </div>
                        <div class="col-6 mb-5">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-6 mb-5">
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-12 mb-5">
                            <textarea placeholder="Your message" name="">Your message</textarea>
                        </div>
                    </div>
                </form>
                <div class="full">
                    <button type="submit" class="boat__formsBtn">Send</button>
                </div>
            </div>
        </div>

        <!-- conatact form -->
        
        <div class="mySearch">
            <div class="mySearch__content">
                <div class="mySearch__close">
                    <button type="button" class="button__close">

                    </button>
                </div>
                <div class="mySearch__title full">
                    <h4>Search</h4>
                </div>
                <div class="mySearch__form full">
                    <input placeholder="What are you looking for ?" type="search" id="inputPassword5" class="form-control">
                    <div class="mySearch__btn">
                        <button type="button">

                        </button>
                    </div>
                </div>
            </div>
        </div>

        <header class="full header">
            <div class="container">
                <nav class="full header__nav">
                    <ul class="header__nav--ul">
                        <li><a href="#about" title="">About Us</a></li>
                        <li><a href="#services" title="">Services</a></li>
                        <li><a href="#blog" title="">Blog</a></li>
                        <li><a href="#contacts" title="">Contacts</a></li>
                    </ul>
                    <ul class="header__nav--ulRight">
                        <li class="myItems"><a class="acvtiveLi" href="#" title="">AGENCY</a></li>
                        <li class="myItems"><a href="#" title="">CHARTER</a></li>
                        <li>
                            <div class="header__lang">
                                <ul class="full">
                                    <li>
                                        <a class="acvtiveLi" href="#" title="">En</a>
                                    </li>
                                    <li><a href="#" title="">Ru</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="header__logo">
                    <a href="#" title="">
                        <img src="img/logo_header.png" alt="">
                    </a>
                </div>
            </div>
        </header>
        <!-- /header -->
        <main>