<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href='libs/owl.carousel/dist/assets/owl.carousel.min.css'>
    <link rel="stylesheet" href="libs/Font-Awesome/css/all.min.css">
    <link rel="stylesheet" href="libs/ion-rangeslider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="libs/intl-tel-input/build/css/intlTelInput.min.css">
    <link rel="stylesheet" href="libs/jquery-nice-select/css/nice-select.css">
    <link rel="stylesheet" href="css/main/main.min.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <div class="loadingGif">
        <div class="loading">
            <h1>Loading</h1><span><span><span><span><span><span><span><span><span><span><span><span><span><span><span><span></span></span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    </div>

    <!-- my loading don't touch -->


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <nav class="full header__nav">
            <ul class="header__nav--ul">
                <li><a href="#about" title="">ABOUT US</a></li>
                <li><a href="#services" title="">SERVICES</a></li>
                <li><a href="#blog" title="">BLOG</a></li>
                <li><a href="#contacts" title="">CONTACTS</a></li>
                <li>
                    <div class="header__lang">
                        <ul class="full">
                            <li>
                                <a class="acvtiveLi" href="#" title="">En</a>
                            </li>
                            <li><a href="#" title="">Ru</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="header__logo">
                <a href="#" title="">
                    <img src="img/logo_header.png" alt="">
                </a>
            </div>
            <ul class="header__nav--ulRight">
                <li class="myItems"><a class="acvtiveLi" href="#" title="">AGENCY</a></li>
                <li class="myItems"><a href="#" title="">CHARTER</a></li>
                <li class="myLang">
                    <div class="header__lang">
                        <ul class="full">
                            <li>
                                <a class="acvtiveLi" href="#" title="">En</a>
                            </li>
                            <li><a href="#" title="">Ru</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mynavButton">
                    <button onclick="openNav()" type="button" class="full">
                        <img src="img/newmenu.png" alt="">
                    </button>
                </li>
            </ul>
        </nav>
    </div>

    <div class="myForms marginMyForms">
        <div class="boat__forms--in myForms__in full">
            <div class="mySearch__close">
                <button type="button" class="button__close">

                </button>
            </div>
            <div class="mySearch__title full">
                <h4>Contact form</h4>
            </div>
            <form>
                <div class="row">
                    <div class="col-lg-6 mb-5">
                        <input type="text" class="form-control" placeholder="First name / Last name">
                    </div>
                    <div class="col-lg-6 mb-5">
                        <select name="" id="mySelect">
                            <option value="">Mr</option>
                            <option value="">Miss</option>
                            <option value="">Mrs</option>
                        </select>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-lg-6 mb-5">
                        <input type="tel" id="phone" class="form-control" placeholder="Phone">
                    </div>
                    <div class="col-12 mb-5">
                        <textarea placeholder="Your message" name=""></textarea>
                    </div>
                </div>
                <div class="full">
                    <button type="submit" class="boat__formsBtn">Send</button>
                </div>
            </form>
        </div>
    </div>

    <!-- conatact form -->

    <div class="mySearch">
        <div class="mySearch__content">
            <div class="mySearch__close">
                <button type="button" class="button__close">

                </button>
            </div>
            <div class="mySearch__title full">
                <h4>Search</h4>
            </div>
            <div class="mySearch__form full">
                <input placeholder="What are you looking for ?" type="search" id="inputPassword5" class="form-control">
                <div class="mySearch__btn">
                    <button type="button">

                    </button>
                </div>
            </div>
        </div>
    </div>
    <header class="full header fixedHEader">
        <div class="container">
            <nav class="full header__nav">
                <ul class="header__nav--ul">
                    <li><a href="#about" title="">ABOUT US</a></li>
                    <li><a href="#services" title="">SERVICES</a></li>
                    <li><a href="#blog" title="">BLOG</a></li>
                    <li><a href="#contacts" title="">CONTACTS</a></li>
                </ul>
                <div class="header__logo">
                    <a href="#" title="">
                        <img src="img/logo_header.png" alt="">
                    </a>
                </div>
                <ul class="header__nav--ulRight">
                    <li class="myItems"><a class="acvtiveLi" href="#" title="">AGENCY</a></li>
                    <li class="myItems"><a href="#" title="">CHARTER</a></li>
                    <li>
                        <div class="header__lang">
                            <ul class="full">
                                <li>
                                    <a class="acvtiveLi" href="#" title="">En</a>
                                </li>
                                <li><a href="#" title="">Ru</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mynavButton">
                        <button onclick="openNav()" type="button" class="full">
                            <img src="img/newmenu.png" alt="">
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- /header -->
    <header class="full header staticHeader">
        <div class="container">
            <nav class="full header__nav">
                <ul class="header__nav--ul">
                    <li><a href="#about" title="">ABOUT US</a></li>
                    <li><a href="#services" title="">SERVICES</a></li>
                    <li><a href="#blog" title="">BLOG</a></li>
                    <li><a href="#contacts" title="">CONTACTS</a></li>
                </ul>
                <div class="header__logo">
                    <a href="#" title="">
                        <img src="img/logo_header.png" alt="">
                    </a>
                </div>
                <ul class="header__nav--ulRight">
                    <li class="myItems"><a class="acvtiveLi" href="#" title="">AGENCY</a></li>
                    <li class="myItems"><a href="#" title="">CHARTER</a></li>
                    <li>
                        <div class="header__lang">
                            <ul class="full">
                                <li>
                                    <a class="acvtiveLi" href="#" title="">En</a>
                                </li>
                                <li><a href="#" title="">Ru</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mynavButton">
                        <button onclick="openNav()" type="button" class="full">
                            <img src="img/newmenu.png" alt="">
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="whatsap_div">
        <a href="#" title="">
            <img class="full" src="img/whatsap.png" alt="">
        </a>
    </div>

    <!-- /header -->
    <main>