<section class="range full rangesBox marginRangesResults">
	<div class="container">
		<div class="row">
			<div class="col-xl-2">
				<div class="range__select">
					<span class="full">
						BOAT TYPE
					</span>
					<select name="" class="yearSelect">
						<option value="">SEMI RIGID</option>
					</select>
				</div>
			</div>
			<div class="col-xl-7">
				<div class="range__boxes">
					<div class="range__boxes--text full">
						<div class="range__length">
							<span class="lengthSpan">LENGHT</span>
							<!-- <span class="mileSpan">FEET</span> -->
						</div>
						<div class="range__count">
							<span class="rangeVal"><i class="class_val">15</i></span>
							<span>-</span>
							<span><i class="length_val" style="padding-right:0px;margin-right:-3px;"></i>
								<i class="kmI">m</i>
							</span>
						</div>
						<div class="range__self full">
							<input type="text" class="js-range-slider" name="my_range" value="" />
						</div>
					</div>
				</div>
				<div class="range__boxes">
					<div class="range__boxes--text full">
						<div class="range__length">
							<span>PRICE</span>
						</div>
						<div class="range__count">
							<span class="rangeVal"><i class="class_val">500</i>K</span>
							<span>-</span>
							<span class="lengthMoney"><i style="padding-right:0px;margin-right:-3px;"
									class="length_val"></i>
								<i class="milion_i">m</i>
							</span>
						</div>
						<div class="range__self full">
							<input type="text" class="js-range-money" name="my_range" value="" />
						</div>
					</div>
				</div>
				<div class="range__boxes">
					<div class="range__boxes--text full">
						<div class="range__length">
							<span>GUESTS</span>
						</div>
						<div class="range__count">
							<span class="rangeVal"><i class="class_val">3</i></span>
							<span>-</span>
							<span><i class="length_val"></i>PERSONS</span>
						</div>
						<div class="range__self full">
							<input type="text" class="js-range-person" name="my_range" value="" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3">
				<div class="range__selectEnd">
					<span class="full">
						BY YEAR
					</span>
					<select class="yearSelect" name="">
						<option value="">Any</option>
						<option value="">New Build</option>
						<option value="">UP TO 2 YEARS</option>
						<option value="">UP TO 5 YEARS</option>
						<option value="">Over 10 YEARS</option>
					</select>
				</div>
				<div class="range__selectEnd">
					<span class="full">
						BUILDER
					</span>
					<select name="" class="yearSelect">
						<option value="">GOCREATIVE</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<button class="range__searchBtn" type="button">SEARCH</button>
</section>